.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/examples/.build
/examples/doc-snippets
/examples/Package.resolved
Package.resolved
*.profraw
